{{ define "main" }}
<div class="article-content">
    <h1>{{ i18n "archive" }}: {{ .Title }}</h1>
    {{ with .Description }}<p>{{ . }}</p>{{ end }}
    
    <div class="list-container">
        {{ range .Paginator.Pages }}
        <article class="list-article">
            <div class="list-article-date">{{ .Date.Format "2006.01.02" }}</div>
            <h2 class="list-article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </article>
        {{ end }}
    </div>

    {{ partial "pagination.html" . }}
</div>
{{ end }}
