<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ with .Site.Params.favicon }}
    <link rel="icon" type="image/x-icon" href="{{ . | relURL }}">
    {{ end }}
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    
    <!-- IBM Plex Mono Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Chart.js for Vintage Data Viz -->
    {{ $chart := resources.Get "js/chart.min.js" }}
    <script src="{{ $chart.RelPermalink }}"></script>
    
    {{ $style := resources.Get "css/main.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
